*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f4f4f4;
}

header{
    background:#333;
    color:white;
    padding:15px;
    text-align:center;
}

nav{
    margin-top:10px;
}

nav a{
    color:white;
    text-decoration:none;
    margin:0 15px;
}

nav a:hover{
    color:#ff9800;
}

.hero{
    text-align:center;
    padding:100px 20px;
    background:white;
}

.hero h2{
    margin-bottom:15px;
}

.hero button{
    margin-top: 30px;
    padding:10px 20px;
    border:none;
    background:#ff9800;
    color:white;
    cursor:pointer;
}

.content{
    padding:50px 20px;
    text-align:center;
}

.service-box{
    background:white;
    margin:15px auto;
    padding:20px;
    width:70%;
    border-radius:8px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
}

form{
    max-width:500px;
    margin:auto;
}

form input,
form textarea{
    width:100%;
    padding:10px;
    margin:10px 0;
}

form button{
    background:#333;
    color:white;
    padding:10px 20px;
    border:none;
    cursor:pointer;
}

footer{
    background:#333;
    color:white;
    text-align:center;
    padding:15px;
    margin-top:20px;
}