{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
    <h1>My Website</h1>
    {% comment %} <nav>
        <a href="/">Home</a>
        <a href="/about-us">About</a>
        <a href="/services">Services</a>
        <a href="/contact">Contact</a>
    </nav> {% endcomment %}
    {% comment %} <nav>
        <a class="{% if request.path == '/' %}active{% endif %}" href="{% url "home" %}">Home</a>
        <a class = "{% if request.path == '/about-us/' %}active{% endif %}" href="{% url "about-us" %}">About</a>
        <a class = "{% if request.path == '/services/' %}active{% endif %}" href="{% url "services" %}">Services</a> 
        <a class = "{% if request.path == '/contact/' %}active{% endif %}" href="{% url "contact" %}">Contact</a>
    </nav> {% endcomment %}
    <nav>
         
        {% url 'home' as url %}
        <a class="{% if request.path == url %}active{% endif %}" href="{{url}}">Home</a>
        {% url 'about-us' as url %}
        <a class = "{% if request.path == url %}active{% endif %}" href="{{url}}">About</a>
        {% url 'services' as url %}
        <a class = "{% if request.path == url %}active{% endif %}" href="{{url}}">Services</a> 
         {% url 'contact' as url %}
        {% comment %} <a href = "{{url}}" >contact</a>   {% endcomment %}
        <a class = "{% if request.path == url %}active{% endif %}" href="{{url}}">Contact</a>
    </nav>
</header>
</body>
</html>